const { NewProblem } = require("../src/newProblem");

describe("correctness", () => {
  let testCases;

  beforeEach(() => {
    testCases = [{ given: [], returns: undefined }];
  });

  test("first solution", () => {
    for (let testCase of testCases) {
      const received = NewProblem.firstSolution(...testCase.given);
      const expected = testCase.returns;

      expect(received).toBe(expected);
    }
  });

  test.skip("second solution", () => {
    for (let testCase of testCases) {
      const received = NewProblem.secondSolution(...testCase.given);
      const expected = testCase.returns;

      expect(received).toBe(expected);
    }
  });
});
